<br><br>
    <div class="jumbotron">

      <table style="max-width: 50%; margin-left: 15%;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Fecha de Estreno</th>
            <th>Cantidad de Público</th>
            <th>Foto de la Película</th>
            <th *ngIf="mostrarSeleccionar">Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pelicula of peliculas">
            <td>{{ pelicula.id }}</td>
            <td>{{ pelicula.nombre }}</td>
            <td>{{ pelicula.tipo }}</td>
            <td>{{ pelicula.fechaEstreno | date:'dd/M/yyyy' }}</td>
            <td>{{ pelicula.cantidadPublico }}</td>
            <td>
              <img [src]="pelicula.fotoPelicula" alt="{{ pelicula.nombre }}" width="100">
            </td>
            <td *ngIf="mostrarSeleccionar">
                <button (click)="seleccionar(pelicula)" class="btn btn-primary">X</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>


